-# coding:utf-8
!!! 5
%html{:lang => 'en'}
  %head
    =javascript_include_tag 'jquery', 'bootstrap.min'
    =stylesheet_link_tag 'bootstrap.min', 'thumbnail-gallery', 'shop-item', 'hover'
    %title 淘CSS
  %body
    =partial "/partials/nav"
    .container  
      =yield
      =partial "/partials/footer"
:javascript
  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"100"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
